body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 450px;
    padding: 20px 0 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.hero-main{
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}

.main-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-description{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: white;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    background-image: linear-gradient(to right, #3882f6 0%, #2858a7  51%, #3882f6  100%);
    transition: 0.5s;
    background-size: 200% auto;  
}
button:hover {
       background-position: right center;
       color: #fff;
       text-decoration: none;
}
    
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 30px 0 90px;
}

.info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-content{
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.info-item{
    display: flex;
    flex-direction: column;
    width: 165px;
    text-align: center;
    font-size: 18px;
    gap: 10px;
}

.info-item .img{
    border: 5px solid #3882f6;
    height: 165px;
    width: 165px;
    border-radius: 15px;
    box-sizing: border-box;
}

.quote{
    background-color: #e5e7eb;
}
.quote-content{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 820px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-name{
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 20px;
}

.call{
    background-color:  #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 80px auto;
    padding: 30px 100px;
    color: #E5E7EB;
    border-radius: 5px;
    box-sizing: border-box;
}

.call-title{
    font-weight: bold;
    font-size: 23px;
}

.call-info{
    font-size: 16px;
}

.call button{
    border: 1px solid white;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: px;
    padding: 30px;
}